@media screen and (min-width:768px) {
  .ranking-footer {
    display: hidden;
  }
}
@media screen and (max-width:767px) {
  .ranking-footer {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    &__btn {
      background: $whitesmoke;
      width: 50%;
      color: $blueash;
      text-align: center;
      line-height: 10vh;
      font-size: 40px;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
    &__btn-title {
      font-size: 10px;
    }
  }
}
