aside {
  width: 230px;
  height: 100vh;
  float: left;
  overflow: scroll;
  border: solid 1px $whiteash;
  a {
    text-decoration: none;
  }
  a:link {
    color: $blueash;
  }
  a:visited {
    color: $blueash;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: red;
  }
  .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    .logo {
      width: 80px;
    }
  }
  .sidebar-content {
    padding-left: 20px;
  }
}
