.sidebar {
  width: 230px;
  height: 100vh;
  float: left;
  overflow: scroll;
  border: solid 1px $whiteash;
}
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  &__image {
    width: 80px;
  }
}
.sidebar-list {
  a {
    padding-left: 20px;
    text-decoration: none;
    font-size: 12px;
  }
  &__outer-current {
    background: $royalblue;
    a:link, a:visited {
      color: white;
    }
  }
  &__outer {
    a:link, a:visited {
      color: $blueash;
    }
    a:hover, a:active {
      color: red;
    }
  }
  &__country-image {
    width: 18px;
    height: 21px;
    padding-bottom: 3px;
  }
}
