<div class='ranking-footer'>
  <div class='ranking-footer__btn'>
    <i class="fas fa-th-list"></i>
  </div>
  <div class='ranking-footer__btn'>
    <i class="fas fa-globe-americas"></i>
  </div>
</div>
