<%= render partial: 'rankings/shared/sidebar', locals: { countries: @countries, current_country: @current_country } %>
<section class='ranking'>
  <%= render partial: 'rankings/shared/header', locals: { current_country: @current_country } %>
  <%= render partial: 'rankings/shared/content', locals: { apps: @apps } %>
</section>
